@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #404040;
}

::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 0% 11.2%;

    --muted: 210 0% 96.1%;
    --muted-foreground: 215.4 0% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 0% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 0% 11.2%;

    --border: 214.3 0% 91.4%;
    --input: 214.3 0% 91.4%;

    --primary: 222.2 0% 11.2%;
    --primary-foreground: 210 0% 98%;

    --secondary: 210 0% 96.1%;
    --secondary-foreground: 222.2 0% 11.2%;

    --accent: 210 0% 96.1%;
    --accent-foreground: 222.2 0% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 0% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 0% 4%;
    --foreground: 213 0% 91%;

    --muted: 223 0% 11%;
    --muted-foreground: 215.4 0% 56.9%;

    --popover: 224 0% 4%;
    --popover-foreground: 215 0% 65.1%;

    --card: 224 0% 4%;
    --card-foreground: 213 0% 91%;

    --border: 216 0% 17%;
    --input: 216 0% 17%;

    --primary: 210 0% 98%;
    --primary-foreground: 222.2 0% 1.2%;

    --secondary: 222.2 0% 11.2%;
    --secondary-foreground: 210 0% 98%;

    --accent: 216 0% 17%;
    --accent-foreground: 210 0% 98%;

    --destructive: 0 0% 31%;
    --destructive-foreground: 210 0% 98%;

    --ring: 216 0% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
